.cookie-popup {
    display: none;
    z-index: 10000;
    position: fixed;
    bottom: 40px;
    left: 40px;
    max-width: 440px;
    width: 100%;
    
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 25px;
    border-radius: 6px;
    background-color: #fff;
}

@media (max-width: 567px) {
    .cookie-popup {
        bottom: 0;
        left:0;
        padding: 20px;
    }
}

.cookie-popup__title {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #242424;
}

.cookie-popup__text {
    font-size: 14px;
    color: #50575e;
    line-height: 1.6;
}   

.cookie-popup__button {
    display: inline-block;
    border: 2px solid #0175ae;
    background-color: #0175ae;
    padding: 12px 20px;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s;
    word-spacing: 2px;
    cursor: pointer;
}

.cookie-popup__button:hover {
    background-color: #fff;
    color: #0175ae;
}
